<h1>All Episodes</h1>

<ul>
  <% @episodes.each do |episode| %>
    <li><%= "Episode #{episode.number} - #{episode.date.strftime("%B %d, %Y")}"  %></li>
  <% end %>
</ul>

<!-- link_to...episode_path(episode) didn't work -->
<!-- also I think my rails routes are messed up, didn't know how to delete a database -->
