<h1>All Episodes</h1>

<ul>
  <% @episodes.each do |episode| %>
    <li><%= link_to "Episode #{episode.number} - #{episode.date.strftime("%B %d, %Y")}", episode%></li>
  <% end %>
</ul>

<div><%=link_to "List of All Guets", guests_path%></div>
<div><%= link_to "Create New Appearence", new_episodeguest_path %></div>
