<h1>All Episodes</h1>

<ul>
  <% @episodes.each do |episode| %>
    <li><%= "Episode #{episode.number} - #{episode.date.strftime("%B %d, %Y")}"%></li> <%= link_to "Details", episode %>
  <% end %>
</ul>

<%= link_to "Create Appearance", new_episode_appearance_path(@episodes) %>
