<h1><%="Episode #{@episode.number}"%></h1>

<div><%="Air Date: #{@episode.date.strftime("%B %d, %Y")}"%></div>

<h3>Episode Guests:</h3>

<ul>
<%@episode.guests.each do |guest|%>
  <li><%=link_to guest.name, guest %></li>
<%end%>
</ul>

<%= link_to "Back To All Episodes", episodes_path %>
