<h1>Episode Show Page</h1>
<%= @episode.date %><br>
<%= @episode.number %><br>
<%= @episode.rating %><br>

<%= @episode.guests.name %>

<h3>I think I know how to get the guests names. I would need to iterate through the guests objects for the episode and get their names, I would use each. maybe map. ONly one minute left so I ran out of time.</h3>
