<h1>Welcome to The Late Show With Stephen Colbert</h1>
<h3><%= link_to "Episodes", episodes_path %></h3>
<h3><%= link_to "Guests", guests_path %></h3>
<h3><%= link_to "Create Guest Appearance", new_appearance_path %></h3>
