<h1>All The Guests</h1>

<ul>
  <% @appearances.each do |a| %>
    <li> <%= link_to a.name, apperance_path(a)%></li>
  <% end %>
</ul>


<!-- finally got this to work. link_to   ...guests_path(guests) -->
